span {
    color: #2196F3;
    cursor: pointer;
    text-decoration: underline;
}
.console {
    background-color: #eee;
    padding: 1rem;
}
button {
    background-color: #4CAF50;
    color: white;
    border-radius: .25rem;
    outline: none;
    border: 1px solid #388E3C;
    padding: .5rem 1.5rem;
    cursor: pointer;
}
button:hover {
    background-color: #388E3C;
}